<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="resources/icon.ico">
	
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	
    <title>Menu</title>
  </head>
  <body class="center-form">
  
  <div class="center-form">
  	<form id="form">
    	<div class="index">
			<div class="entrar">
                <a href="/CadastrarMedico" class="btn btn-info btn-lg">
                    Médicos
                </a>
                <a href="/CadastrarPaciente" class="btn btn-info btn-lg">
                    Paciente
                </a>
                <a href="/Consulta" class="btn btn-info btn-lg">
                    Consulta
                </a>
			</div>
		</form>
	</div>
	
	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
